{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :sc/refs      [:loc]
         :init-ns      net.wikipunk.mop.init}
 :loc   {:sc/create-fn net.wikipunk.loc/map->LOC
         :boot         [net.wikipunk.loc.boot/actionsGranted
                        net.wikipunk.loc.boot/agentType
                        net.wikipunk.loc.boot/contentLocationType
                        net.wikipunk.loc.boot/copyrightStatus
                        net.wikipunk.loc.boot/cryptographicHashFunctions
                        #_net.wikipunk.loc.boot/demographicTerms
                        net.wikipunk.loc.boot/environmentCharacteristic
                        net.wikipunk.loc.boot/environmentFunctionType
                        net.wikipunk.loc.boot/environmentPurpose
                        net.wikipunk.loc.boot/environmentRegistryRole
                        net.wikipunk.loc.boot/eventOutcome
                        net.wikipunk.loc.boot/eventRelatedAgentRole
                        net.wikipunk.loc.boot/eventRelatedObjectRole
                        net.wikipunk.loc.boot/eventType
                        net.wikipunk.loc.boot/formatRegistryRole
                        #_net.wikipunk.loc.boot/genreForms
                        net.wikipunk.loc.boot/hardwareType
                        net.wikipunk.loc.boot/identifiers
                        net.wikipunk.loc.boot/inhibitorTarget
                        net.wikipunk.loc.boot/inhibitorType
                        net.wikipunk.loc.boot/lcc
                        net.wikipunk.loc.boot/linkingAgentRoleEvent
                        net.wikipunk.loc.boot/linkingEnvironmentRole
                        net.wikipunk.loc.boot/objectCategory
                        net.wikipunk.loc.boot/preservation
                        net.wikipunk.loc.boot/preservationLevelRole
                        net.wikipunk.loc.boot/preservationLevelType
                        net.wikipunk.loc.boot/record
                        net.wikipunk.loc.boot/relationshipSubType
                        net.wikipunk.loc.boot/relationshipType
                        net.wikipunk.loc.boot/rightsBasis
                        net.wikipunk.loc.boot/rightsRelatedAgentRole
                        net.wikipunk.loc.boot/signatureEncoding
                        net.wikipunk.loc.boot/signatureMethod
                        net.wikipunk.loc.boot/softwareType
                        net.wikipunk.loc.boot/storageMedium]}}
