{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :sc/refs      [:loc]
         :init-ns      net.wikipunk.mop.init}
 :loc   {:sc/create-fn net.wikipunk.loc/map->LOC
         :boot         [#_net.wikipunk.loc.boot/actionsGranted
                        #_net.wikipunk.loc.boot/agentType
                        #_net.wikipunk.loc.boot/contentLocationType
                        #_net.wikipunk.loc.boot/copyrightStatus
                        #_net.wikipunk.loc.boot/cryptographicHashFunctions
                        #_net.wikipunk.loc.boot/demographicTerms
                        #_net.wikipunk.loc.boot/environmentCharacteristic
                        #_net.wikipunk.loc.boot/environmentFunctionType
                        #_net.wikipunk.loc.boot/environmentPurpose
                        #_net.wikipunk.loc.boot/environmentRegistryRole
                        #_net.wikipunk.loc.boot/eventOutcome
                        #_net.wikipunk.loc.boot/eventRelatedAgentRole
                        #_net.wikipunk.loc.boot/eventRelatedObjectRole
                        #_net.wikipunk.loc.boot/eventType
                        #_net.wikipunk.loc.boot/fingerprintschemes
                        #_net.wikipunk.loc.boot/formatRegistryRole
                        #_net.wikipunk.loc.boot/genreForms
                        #_net.wikipunk.loc.boot/hardwareType
                        #_net.wikipunk.loc.boot/identifiers
                        #_net.wikipunk.loc.boot/inhibitorTarget
                        #_net.wikipunk.loc.boot/inhibitorType
                        #_net.wikipunk.loc.boot/languageschemes
                        #_net.wikipunk.loc.boot/lcc
                        #_net.wikipunk.loc.boot/linkingAgentRoleEvent
                        #_net.wikipunk.loc.boot/linkingEnvironmentRole
                        #_net.wikipunk.loc.boot/mcfcsc
                        #_net.wikipunk.loc.boot/musiccodeschemes
                        #_net.wikipunk.loc.boot/nationalbibschemes
                        #_net.wikipunk.loc.boot/nameTitleSchemes
                        #_net.wikipunk.loc.boot/objectCategory
                        #_net.wikipunk.loc.boot/preservation
                        #_net.wikipunk.loc.boot/preservationLevelRole
                        #_net.wikipunk.loc.boot/preservationLevelType
                        #_net.wikipunk.loc.boot/record
                        #_net.wikipunk.loc.boot/relationshipSubType
                        #_net.wikipunk.loc.boot/relationshipType
                        #_net.wikipunk.loc.boot/resourceTypes
                        #_net.wikipunk.loc.boot/rightsBasis
                        #_net.wikipunk.loc.boot/rightsRelatedAgentRole
                        #_net.wikipunk.loc.boot/signatureEncoding
                        #_net.wikipunk.loc.boot/signatureMethod
                        #_net.wikipunk.loc.boot/softwareType
                        #_net.wikipunk.loc.boot/storageMedium]}}
