{:vocab {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
         :sc/refs      [:loc]
         :boot         [net.wikipunk.loc.boot]
         :config       {:xtdb.lucene/lucene-store
                        {:db-dir ".vocab/lucene"}}}
 :loc   {:sc/create-fn net.wikipunk.loc/map->LOC}}
